// Variables

$font1: #333333;
$font2: #333333;

$beige-white: #F5F5DC;
$beige-light: #E7E1C9;
$beige-normal: #CDC6B3;
$beige-dark: #B29E85;
$beige-line: #8B7E5C;
$beige-link: #532407;

$white: white;
$black: black;

$page-width: 960px;

// Functions

@mixin shadow-inside($side: 0, $aplha: 0.5){
    -moz-box-shadow: inset $side 2px 25px 0px rgba(#000000, $aplha);
    -webkit-box-shadow: inset $side 2px 25px 0px rgba(#000000, $aplha);
    -o-box-shadow: inset $side 2px 25px 0px rgba(#000000, $aplha);
    box-shadow: inset $side 2px 25px 0px rgba(#000000, $aplha);
}

@mixin shadow-outside($side: 0, $aplha: 0.3){
    -moz-box-shadow: $side 2px 25px 0px rgba(#000000, $aplha);
    -webkit-box-shadow: $side 2px 25px 0px rgba(#000000, $aplha);
    -o-box-shadow: $side 2px 25px 0px rgba(#000000, $aplha);
    box-shadow: $side 15px 20px 5px rgba(#000000, $aplha);
}

@mixin shadow-focus($alpha: 0.5){
    -moz-box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha), 0px 0px 25px 0px rgba(0, 0, 0, $alpha);
    -webkit-box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha), 0px 0px 25px 0px rgba(0, 0, 0, $alpha);
    -o-box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha), 0px 0px 25px 0px rgba(0, 0, 0, $alpha);
    box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha), 0px 0px 25px 0px rgba(0, 0, 0, $alpha);
}

@mixin shadow-colomn($alpha: 0.5){
    -moz-box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha);
    -webkit-box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha);
    -o-box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha);
    box-shadow: inset 0px 10px 15px -8px rgba(0, 0, 0, $alpha);
}

@mixin createGridSystem($gridCols: 24, $gridWidth: 30px, $marginWidth: 10px){
    .page {
        @if $marginWidth == 0 {
            width: $gridCols * $gridWidth;
        }
        @else {
            //width: $gridCols * $gridWidth + $gridCols * $marginWidth - $marginWidth;
            width: ($gridWidth + $marginWidth) * $gridCols;
        }
        margin: 20px auto 0;
        border-top: 1px solid $beige-line;
        border-left: 1px solid $beige-line;
        border-right: 1px solid $beige-line;
    }
    .row {

    }
    .column {
        float: left;
        display: inline;
        margin: 0 $marginWidth / 2;
    }
    @for $i from 1 through $gridCols {
        .col-#{$i} {
            width: ($gridWidth + $marginWidth) * $i - $marginWidth;
        }
    }
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: "";
    display: table;
}

.clearfix:after, .row:after {
    clear: both;
}

.clearfix, .row {
    *zoom: 1;
}

body {
    @include createGridSystem(24, 40px, 0);
    color: $font1;
    background-color: $beige-light;
}

a {
    color: $beige-link;
    text-decoration: none;
}

h1 {
    margin: 0 10px;
    text-align: right;
}

.oh {
    overflow: hidden;
    position: relative;
}

.content {
    background-color: $beige-normal;
}

//  Javascript: Shadow Content only with Javascript

.js {
    article .col-border {
        background-color: $beige-dark;
        border-left: 1px solid white;
        border-right: 1px solid white;
        margin: 0 -1px;
        @include shadow-focus(0.5);
    }
    .page {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    }
    .shadow-col {
        @include shadow-colomn(0.5);
    }
}

article {
    border-top: 1px solid $beige-white;
    border-bottom: 1px solid $beige-line;
    background-color: $beige-normal;
    &.navigation {
        border-top: 0;
        background-color: $beige-light;
        nav {
            width: 33%;
            float: left;
            border-right: 1px solid $beige-normal;
            &.last {
                border-right: 0;
            }
            ul {
                li {
                    padding: 0 4px;
                    border-top: 1px solid $beige-dark - 2;
                }
                .first {
                    border-top: 0;
                    background-color: $beige-normal;
                }
                .last {

                }
            }
        }
        .col-border {
            a {
                font-size: 0.8em;
                &.hover {
                    color: $black;
                }
            }
        }
    }
    .column div {
        padding: 25px 15px;
        text-align: justify;
    }
}

footer, .footer {
    border-top: 1px solid $beige-white;
    background-color: $beige-normal;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: -10px;
    font-size: 0.7em;
    p {
        margin: 0.2em;
    }
}

.iconFrame {
    background-color: black;
    padding: 1px;
    border-left: 1px solid #3A2912;
    border-right: 1px solid #59411C;
    border-bottom: 1px solid #463419;
    border-top: 1px solid #574320;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

// Slider Style

#slider-nav {
}

.slider {
    position: relative;
    top: 0;
    left: 0;

    width: inherit;
    overflow: hidden;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            width: $page-width;
            float: left;
        }
    }
    .slider-screen {
        width: 12000px;
    }
    .slider-nav {
        display: none;
        button {
            position: absolute;
            top: 40%;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border: 0;
            text-indent: 200%;
            &:hover {
                background-position: 0 -30px;
            }
        }
        .prev {
            left: 7px;
            background: url(../images/slide-arrow-left.png) no-repeat 0 0;
        }
        .next {
            right: 7px;
            background: url(../images/slide-arrow-right.png) no-repeat 0 0;
        }
    }
}

//  remove Styles

/*
.nobox {
    padding: 0 !important;
    margin: 0 !important;
}





*/