// Variables

$font1: #333333;
$font2: #333333;

$beige-white: #F5F5DC;
$beige-light: #E7E1C9;
$beige-normal: #CDC6B3;
$beige-dark: #B29E85;
$beige-line: #8B7E5C;
$beige-link: #532407;

$font-text: Arial, Sans-serif;
$font-mark: 'Lucida Console', Monospace;
/*

$beige-white: #F5F5DC;
$beige-light: #d6eed2;
$beige-normal: #c6d8c0;
$beige-dark: #aac49a;
$beige-line: #839d73;
$beige-link: #3a532b;
*/

$white: white;
$black: black;

$page-width: 960px;
